# Environment variables
.env

# Python virtual environment
venv/
__pycache__/
*.pyc

# Testing Stuff
demo-audio.html
demo-audio-data.csv
ConsoleOutput.txt
GEMINI.md
list_models.py
output.html
Progress.txt
Project\ Statement.txt
railwaylog.txt
